/qr-image-*.tgz
.*.swp
/node_modules
/dist
.dccache
*.tsbuildinfo
package.tgz

# examples
/examples/formats/output
/examples/react/build

# yarn berry
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
