/qr-image-*.tgz
.*.swp
/node_modules
/dist
.dccache
*.tsbuildinfo
package.tgz
/coverage
/packages/**/commonjs
/packages/**/browser
/packages/**/module
/packages/**/types

# yarn berry
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
